<div class="page-header">
  <h3>Message #<%= @message.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Guests</dt>
      <dd>
        <% if @message.guests.present? %>
          <a href="/hosts/<%= @message.guests_id %>">
            <%= @message.guests.email %>
          </a>
        <% end %>
      </dd>

      <dt>Hosts</dt>
      <dd>
        <% if @message.hosts.present? %>
          <a href="/guests/<%= @message.hosts_id %>">
            <%= @message.hosts.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>Time</dt>
      <dd><%= @message.time %></dd>

      <dt>Date</dt>
      <dd><%= @message.date %></dd>

      <dt>Content</dt>
      <dd><%= @message.content %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/messages" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @message.hosts %>
        <a href="/messages/<%= @message.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_message/<%= @message.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
