<div class="page-header">
  <h1>
    Listings
    <a href="/listings/new" class="btn btn-lg btn-success">New Listing</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => collapse_search_form, :id => "listings_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
    <%= f.label :title_cont, "Title contains" %>
    <%= f.text_field :title_cont, :class => "form-control", :placeholder => "Title contains" %>
  </div>

<div class="form-group">
  <%= f.label :default_price_per_night, "Default price per night" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :default_price_per_night_gteq, :class => "form-control", :placeholder => "Default price per night greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :default_price_per_night_lteq, :class => "form-control", :placeholder => "Default price per night less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
    <%= f.label :policies_cont, "Policies contains" %>
    <%= f.text_field :policies_cont, :class => "form-control", :placeholder => "Policies contains" %>
  </div>

<div class="form-group">
    <%= f.label :neighborhood_cont, "Neighborhood contains" %>
    <%= f.text_field :neighborhood_cont, :class => "form-control", :placeholder => "Neighborhood contains" %>
  </div>

<div class="form-group">
    <%= f.label :city_cont, "City contains" %>
    <%= f.text_field :city_cont, :class => "form-control", :placeholder => "City contains" %>
  </div>

<div class="form-group">
  <%= f.label :max_occupants, "Max occupants" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :max_occupants_gteq, :class => "form-control", :placeholder => "Max occupants greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :max_occupants_lteq, :class => "form-control", :placeholder => "Max occupants less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :number_of_beds, "Number of beds" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :number_of_beds_gteq, :class => "form-control", :placeholder => "Number of beds greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :number_of_beds_lteq, :class => "form-control", :placeholder => "Number of beds less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :number_of_bedrooms, "Number of bedrooms" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :number_of_bedrooms_gteq, :class => "form-control", :placeholder => "Number of bedrooms greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :number_of_bedrooms_lteq, :class => "form-control", :placeholder => "Number of bedrooms less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :number_of_bathrooms, "Number of bathrooms" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :number_of_bathrooms_gteq, :class => "form-control", :placeholder => "Number of bathrooms greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :number_of_bathrooms_lteq, :class => "form-control", :placeholder => "Number of bathrooms less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
    <%= f.label :description_cont, "Description contains" %>
    <%= f.text_field :description_cont, :class => "form-control", :placeholder => "Description contains" %>
  </div>

<div class="form-group">
    <%= f.label :room_type_cont, "Room type contains" %>
    <%= f.text_field :room_type_cont, :class => "form-control", :placeholder => "Room type contains" %>
  </div>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
      <%= f.label :host_email_cont, "Host email contains" %>
      <%= f.text_field :host_email_cont, :class => "form-control", :placeholder => "Host email contains" %>
    </div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/listings" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#listings_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Title</th>
        <th>Room type</th>
        <th>Description</th>
        <th>Number of bathrooms</th>
        <th>Number of bedrooms</th>
        <th>Number of beds</th>
        <th>Host</th>
        <th>Max occupants</th>
        <th>City</th>
        <th>Neighborhood</th>
        <th>Policies</th>
        <th>Default price per night</th>
        <th>Actions</th>
      </tr>

      <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.title %></td>
        <td><%= listing.room_type %></td>
        <td><%= listing.description %></td>
        <td><%= listing.number_of_bathrooms %></td>
        <td><%= listing.number_of_bedrooms %></td>
        <td><%= listing.number_of_beds %></td>
        <td>
          <% if listing.host.present? %>
            <a href="/hosts/<%= listing.host.id %>">
              <%= listing.host.email %>
            </a>
          <% end %>
        </td>
        <td><%= listing.max_occupants %></td>
        <td><%= listing.city %></td>
        <td><%= listing.neighborhood %></td>
        <td><%= listing.policies %></td>
        <td><%= listing.default_price_per_night %></td>
        <td>
          <a href="/listings/<%= listing.id %>" class="btn btn-primary">Show</a>
          <a href="/listings/<%= listing.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_listing/<%= listing.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @listings, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
