<div class="page-header">
  <h3>Listing #<%= @listing.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd><%= @listing.title %></dd>

      <dt>Room type</dt>
      <dd><%= @listing.room_type %></dd>

      <dt>Description</dt>
      <dd><%= @listing.description %></dd>

      <dt>Number of bathrooms</dt>
      <dd><%= @listing.number_of_bathrooms %></dd>

      <dt>Number of bedrooms</dt>
      <dd><%= @listing.number_of_bedrooms %></dd>

      <dt>Number of beds</dt>
      <dd><%= @listing.number_of_beds %></dd>

      <dt>Host</dt>
      <dd><%= @listing.host_id %></dd>

      <dt>Max occupants</dt>
      <dd><%= @listing.max_occupants %></dd>

      <dt>City</dt>
      <dd><%= @listing.city %></dd>

      <dt>Neighborhood</dt>
      <dd><%= @listing.neighborhood %></dd>

      <dt>Policies</dt>
      <dd><%= @listing.policies %></dd>

      <dt>Default price per night</dt>
      <dd><%= @listing.default_price_per_night %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/listings" class="btn btn-primary">
        Back
      </a>
      <a href="/listings/<%= @listing.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_listing/<%= @listing.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Listing has many photos -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Photos
      </li>

      <% @listing.photos.each do |photo| %>
        <li class="list-group-item">
          <a href="/photos/<%= photo.id %>">
            <%= photo.listings_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/photos/<%= photo.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Listing has many availabilities -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Availabilities
      </li>

      <% @listing.availabilities.each do |availability| %>
        <li class="list-group-item">
          <a href="/availabilities/<%= availability.id %>">
            <%= availability.listings_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/availabilities/<%= availability.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/availabilities/<%= availability.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_availability/<%= availability.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Listing has many bookmarks -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Bookmarks
      </li>

      <% @listing.bookmarks.each do |bookmark| %>
        <li class="list-group-item">
          <a href="/bookmarks/<%= bookmark.id %>">
            <%= bookmark.listings_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/bookmarks/<%= bookmark.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/bookmarks/<%= bookmark.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_bookmark/<%= bookmark.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
