<div class="page-header">
  <h3>Booking #<%= @booking.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Request</dt>
      <dd>
        <% if @booking.request.present? %>
          <a href="/requests/<%= @booking.request_id %>">
            <%= @booking.request.availabilities_id %>
          </a>
        <% end %>
      </dd>

      <dt>Review of guest</dt>
      <dd>
        <% if @booking.review_of_guest.present? %>
          <a href="/review_of_guests/<%= @booking.review_of_guest_id %>">
            <%= @booking.review_of_guest.rating %>
          </a>
        <% end %>
      </dd>

      <dt>Review of room</dt>
      <dd>
        <% if @booking.review_of_room.present? %>
          <a href="/review_of_rooms/<%= @booking.review_of_room_id %>">
            <%= @booking.review_of_room.accuracy %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/bookings" class="btn btn-primary">
        Back
      </a>
      <a href="/bookings/<%= @booking.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_booking/<%= @booking.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
