<div class="page-header">
  <h1>
    Requests
    <a href="/requests/new" class="btn btn-lg btn-success">New Request</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Availabilities</th>
        <th>Guests</th>
        <th>Guest introduction</th>
        <th>Actions</th>
      </tr>

      <% @requests.each do |request| %>
      <tr>
        <td><%= request.availabilities.listings_id %></td>
        <td><%= request.guest.created_at %></td>
        <td><%= request.guest_introduction %></td>
        <td>
          <a href="/requests/<%= request.id %>" class="btn btn-primary">Show</a>
          <a href="/requests/<%= request.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_request/<%= request.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
