<div class="page-header">
  <h3>Availability #<%= @availability.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Listings</dt>
      <dd><%= @availability.listings_id %></dd>

      <dt>Price</dt>
      <dd><%= @availability.price %></dd>

      <dt>Night</dt>
      <dd><%= @availability.night %></dd>

      <dt>Available</dt>
      <dd><%= @availability.available %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/availabilities" class="btn btn-primary">
        Back
      </a>
      <a href="/availabilities/<%= @availability.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_availability/<%= @availability.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Availability has many requests -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Requests
      </li>

      <% @availability.requests.each do |request| %>
        <li class="list-group-item">
          <a href="/requests/<%= request.id %>">
            <%= request.availabilities_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/requests/<%= request.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/requests/<%= request.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_request/<%= request.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
