<div class="page-header">
  <h3>Availability #<%= @availability.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Listings</dt>
      <dd><%= @availability.listings_id %></dd>

      <dt>Price</dt>
      <dd><%= @availability.price %></dd>

      <dt>Night</dt>
      <dd><%= @availability.night %></dd>

      <dt>Available</dt>
      <dd><%= @availability.available %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/availabilities" class="btn btn-primary">
        Back
      </a>
      <a href="/availabilities/<%= @availability.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_availability/<%= @availability.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Availability has many requests -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Requests
      </li>

      <% @availability.requests.each do |request| %>
        <li class="list-group-item">
          <a href="/requests/<%= request.id %>">
            <%= request.availabilities_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/requests/<%= request.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/requests/<%= request.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_request/<%= request.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_request" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for availabilities_id -->
      <div class="form-group">
        <label for="availabilities_id" class="control-label">
          Availabilities
        </label>

        <%= select_tag(:availabilities_id, options_from_collection_for_select(Availability.all, :id, :listings_id), :class => "form-control") %>
      </div>

      <!-- Label and input for guests_id -->
      <div class="form-group">
        <label for="guests_id" class="control-label">
          Guests
        </label>

        <%= select_tag(:guests_id, options_from_collection_for_select(Guest.all, :id, :created_at), :class => "form-control") %>
      </div>

      <!-- Label and input for guest_introduction -->
      <div class="form-group">
        <label for="guest_introduction" class="control-label">
          Guest introduction
        </label>

        <textarea id="guest_introduction" name="guest_introduction" placeholder="Guest introduction" class="form-control" rows="3"></textarea>
      </div>

      <button class="btn btn-block btn-success">
        Create Request
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
